/*https://www.youtube.com/watch?v=3yM5uXp-T_0&t=548s*/
*{
    margin: 0px;
    padding: opx;
}
body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;

}
#containerDos{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}
header{
    background: red;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 1px dashed black;
}
nav{
    background: lightblue;
    height: 50px;
    border: 1px solid black;
}
nav ul li{
float: left;
list-style: none;
margin: 10px;
line-height: 30px;
}
.articulo{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgreen;
}
.articulo:first-child{
    border-top: 1px solid lightsalmon;
}
.articulo h2{
    font-size: 25px;
}
.clearfix{
    clear: both;
}
#content{
    float: left;
    width: calc(80% - 20px);
    background: green;
    min-height: 450px;
    padding: 10px;
}
aside{
    float: left;
    width: calc(20% - 20px);
    background: orange;
    min-height: 450px;
    padding: 10px;
}
footer{
    background: black;
    color: blanchedalmond;
    text-align: center;
    height: 50px;
    line-height: 50px;
}